 .jumbotron-fluid {
    background-image: url('/img/h_img.jpg');
    height:100vh ;
    margin: 0;
    background-size: cover;
  }
  
.s-image{
  background-image: url('/img/s_image.jpg');
  background-repeat: no-repeat;
  height:50vh;
  
}
.contact{
  background-image: url("/img/c_image.jpg");
    background-repeat: no-repeat;
  background-color: black;
}
.opc{
  opacity: 4;
}
.frm-input{
  background: transparent ;
  border: 1px solid #ffffff;
  color: white
}
.frm-input::placeholder{
  color : white

}
#design-div{
  display: none;

}
#development-div{
  display: none;
}
#planning-div{
  display:none;
}
.porttext{
  margin-top: -70px; 
  display: none;
  color : white;
  z-index: -1;
  position: absolute;
}
#port1{
  position: relative; 
} 

